body {
  margin: 0;
  padding: 0;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

header p {
  font-size: 24px;
}

.grid {
  display: grid;
  /* background-color: antiquewhite; */
  gap: 0;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  text-align: center;
  height: 500px;
  width: 500px;
}

@media screen and (max-width: 768px) {
  .grid {
    width: 350px;
    height: 350px;
  }
}

.box {
  /* border: 1px black solid; */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  font-family: "Kalam", cursive;
  /* background-color: aqua; */
}

.box-4,
.box-5,
.box-6 {
  border-top: 1px black solid;
  border-bottom: 1px black solid;
}

.box-2,
.box-5,
.box-8 {
  border-right: 1px black solid;
  border-left: 1px black solid;
}

button {
  width: 7rem;
  height: 3rem;
  font-size: 17px;
}
